@import "themes/bspp.css";
@import "themes/alfa.css";
@import "themes/samsam.css";

@font-face {
    font-family: "Golos Text";
    src: url("fonts/GolosText-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Golos Text";
    src: url("fonts/GolosText-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Golos Text";
    src: url("fonts/GolosText-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Golos Text";
    src: url("fonts/GolosText-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Inter;
    src: url("fonts/Inter-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url("fonts/Inter-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Inter;
    src: url("fonts/Inter-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: Inter;
    src: url("fonts/Inter-Bold.ttf");
    font-weight: 700;
}

.mobile-menu {
    background-color: var(--bs-header-color);
}

.form-select-lg,
.btn-lg {
    height: 48px !important;
    box-sizing: border-box;
}

h1.page-heading {
    font-size: 24px !important;
}

svg.icon {
    width: 24px;
    height: 24px;
}

svg.hidden {
    display: none;
}

.btn {
    display: flex;
    align-items: center;
    width: max-content;
}

[data-kt-app-header-fixed="true"] .app-header {
    position: sticky;
}

.app-header {
    svg.icon path {
        fill: #808290;
    }
}

#kt-auth-root {
    background: url("/src/assets/images/auth/auth-bg.png");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.dashboard-app {
    .form-select {
        min-width: 160px;
        box-sizing: border-box;
    }

    .menu-item svg.icon {
        margin-right: 15px;
    }

    .card-body .col {
        border-radius: 6px;
        border: 0.5px dashed var(--bs-gray-400);
    }
}

h2 {
    font-family: 'Golos Text', sans-serif;
}

[data-kt-app-layout="dark-header"] .app-header {
    background-color: var(--bs-header-color);
}

[data-kt-app-layout="dark-header"] .app-header-menu .menu>.menu-item>.menu-link .menu-title {
    color: #fff;
}

[data-kt-app-layout="dark-header"] .app-header-menu .menu>.menu-item.here>.menu-link {
    background-color: var(--bs-header-active);
}


.text-success-active {
    color: var(--bs-success-active) !important;
}

.border-success-active {
    border-color: var(--bs-success-active) !important;
}

.menu-sub-dropdown .menu-link:hover {
    svg path {
        fill: #0e7732;
    }
}

.form-check-input:checked {
    background-color: var(--bs-primary);
}

.card-toolbar-custom {
    margin-top: -68px;
    position: absolute;
    right: 29px;
    width: auto;
    display: flex;

    @media all and (width <=575px) {
        margin: -16px 0 12px 28px;
        position: static;
    }
}

.h-max {
    height: max-content;
}

.h-min {
    height: min-content;
}