:root {
    --bs-primary: #EF3124;
    --bs-primary-active: #DF281B;
    --bs-primary-light: #FFF3F2;
    --bs-primary-rgb: 239, 49, 36;
    --bs-success: #000000;
    --bs-success-active: #222222;
    --bs-success-light: #EEEEEE;
    --bs-success-rgb: 0, 0, 0, 1;
    --bs-danger: #FF8D24;
    --bs-danger-active: #F47E11;
    --bs-danger-light: #FFF6EE;
    --bs-danger-rgb: 255, 141, 36, 1;
    --bs-warning: #FFCD4C;
    --bs-warning-active: #F7BC25;
    --bs-warning-light: #FFFBF2;
    --bs-warning-rgb: 255, 205, 76;
    --bs-component-active-bg: var(--bs-primary);
    --bs-component-hover-color: var(--bs-primary);
    --bs-component-checked-bg: var(--bs-primary);
    --bs-gray-100: #F5F7F9;
    --bs-gray-100-rgb: 245, 247, 249;
    --bs-gray-200: #E6E8EA;
    --bs-gray-200-rgb: 230, 232, 234;
    --bs-gray-300: #DFE1E2;
    --bs-gray-300-rgb: 223, 225, 226;
    --bs-gray-400: #D7D9DA;
    --bs-gray-400-rgb: 215, 217, 218;
    --bs-gray-500: #ABADAE;
    --bs-gray-500-rgb: 171, 173, 174;
    --bs-gray-600: #6C6D6E;
    --bs-gray-600-rgb: 108, 109, 110;
    --bs-gray-700: #555657;
    --bs-gray-700-rgb: 85, 86, 87;
    --bs-gray-800: #3E3E3F;
    --bs-gray-800-rgb: 62, 62, 63;
    --bs-gray-900: #000000;
    --bs-gray-900-rgb: 0, 0, 0;
    --bs-light: #F9F9F9;
    --bs-text-white: #fff;
    --bs-text-gray-100: var(--bs-gray-100);
    --bs-text-gray-200: var(--bs-gray-200);
    --bs-text-gray-300: var(--bs-gray-300);
    --bs-text-gray-400: var(--bs-gray-400);
    --bs-text-gray-500: var(--bs-gray-500);
    --bs-text-gray-600: var(--bs-gray-600);
    --bs-text-gray-700: var(--bs-gray-700);
    --bs-text-gray-800: var(--bs-gray-800);
    --bs-text-gray-900: var(--bs-gray-900);
    --bs-text-primary: var(--bs-primary);
    --bs-text-success: var(--bs-success);
    --bs-text-danger: var(--bs-danger);
    --bs-text-warning: var(--bs-warning);
    --bs-header-color: #000000;
    --bs-header-active: rgba(255, 255, 255, 0.1);
    --statistics-top-bg: url('/src/assets/images/settings/top-alfa.png') 50% 20% /cover no-repeat;
}
