:root {
    --bs-primary: #ED2036;
    --bs-primary-active: #E94D65;
    --bs-primary-light: #FFEDEF;
    --bs-primary-rgb: 237, 32, 54;
    --bs-success: #136099;
    --bs-success-active: #2A7CBF;
    --bs-success-light: #E8F2FA;
    --bs-success-rgb: 19, 96, 153;
    --bs-danger: #FF5C33;
    --bs-danger-active: #FF7754;
    --bs-danger-light: #FFE9E3;
    --bs-danger-rgb: 255, 92, 51;
    --bs-warning: #F6C000;
    --bs-warning-active: #E9B500;
    --bs-warning-light: #FFF8DD;
    --bs-warning-rgb: 255, 199, 0;
    --bs-component-active-bg: var(--bs-primary);
    --bs-component-hover-color: var(--bs-primary);
    --bs-component-checked-bg: var(--bs-primary);
    --bs-gray-100: #F9F9F9;
    --bs-gray-100-rgb: 249,249,249;
    --bs-gray-200: #F1F1F2;
    --bs-gray-200-rgb: 241,241,242;
    --bs-gray-300: #E1E3EA;
    --bs-gray-300-rgb: 225,227,234;
    --bs-gray-400: #D8D8E5;
    --bs-gray-400-rgb: 216,216,229;
    --bs-gray-500: #A1A5B7;
    --bs-gray-500-rgb: 161,165,183;
    --bs-gray-600: #7E8299;
    --bs-gray-600-rgb: 126,130,153;
    --bs-gray-700: #5E6278;
    --bs-gray-700-rgb: 94,98,120;
    --bs-gray-800: #3F4254;
    --bs-gray-800-rgb: 63,66,84;
    --bs-gray-900: #181C32;
    --bs-gray-900-rgb: 24,28,50;
    --bs-light: #F9F9F9;
    --bs-text-white: #fff;
    --bs-text-gray-100: var(--bs-gray-100);
    --bs-text-gray-200: var(--bs-gray-200);
    --bs-text-gray-300: var(--bs-gray-300);
    --bs-text-gray-400: var(--bs-gray-400);
    --bs-text-gray-500: var(--bs-gray-500);
    --bs-text-gray-600: var(--bs-gray-600);
    --bs-text-gray-700: var(--bs-gray-700);
    --bs-text-gray-800: var(--bs-gray-800);
    --bs-text-gray-900: var(--bs-gray-900);
    --bs-text-primary: var(--bs-primary);
    --bs-text-success: var(--bs-success);
    --bs-text-danger: var(--bs-danger);
    --bs-text-warning: var(--bs-warning);
    --bs-header-color: #133D62;
    --bs-header-active: rgba(255, 255, 255, 0.1);
}
